
.Content p {
  padding: 6px 8px;

  /* Override other css .Content styles */
  background-image: unset;
  overflow: hidden;
  margin: 0px 0px;
}

.RollUpDown {
  /* border: solid 2px red; */
  border: solid 1px black;
  border-radius: 6px;
  margin: 10px 0px;
  padding: 2px;
  box-shadow: 4px 4px 2px var(--NECCDarkGreen), -2px -2px 2px var(--NECCGreen);

  height: min-content; /* Will shrink to height of .Title when we shrink the .Content  */
}

.RollUpDown .Title {
  /* box-shadow: 4px 4px 2px var(--NECCDarkGreen), -2px -2px 2px var(--NECCGreen); */
  border-radius: 4px;
  padding-left:  8px;
  padding-top: 2px;
  margin: 3px 0px;

  cursor: pointer;
}
details summary {
  /* Change the details arrow icon */
  list-style-type: "\21b4  "; /* DOWN ARROW and some spacing. The html escape chars do NOT work here &dArr; or &#8595; */
}
details[open] summary {
  /* Change the details arrow icon */
  list-style-type: "\2612  "; /* [X] and some spacing. The html escape chars do NOT work here &dArr; or &#8595; */
}
.xxxRollUpDown .Title::before {
  content: "\21b4"; /* DOWN ARROW. The html escape chars do NOT work here &dArr; or &#8595; */
  font-weight: bolder;
  font-size: 1.8em; /* Only needed if we use "\21b4" */
  line-height: 0.2em; /* Only needed for 1.8em -size */
  margin-right: 4px;
}
.xxxRollUpDown.RollDown .Title::before {
  content: "\2612"; /* [X]. The html escape chars do NOT work here &dArr; or &#8595; */
}
.RollUpDown .Title:hover {
  opacity: 0.65;
}

.RollUpDown .Content {
  min-height: 680px;
  /* Need a height in order for min-height to do anything */
  height: 0px;
  transition: opacity 0.75s ease-in-out, height 0.75s ease-in-out;

  /* Override other css .Content styles */
  background-image: unset;
  overflow: hidden;
  margin: 0px 0px;
  padding: 0px 0px;
}

.RollUpDown object {
  width: 100%;
  height: 100%;
}






/*  */
