
.PageNotFound_404 {
  position: relative;
  background-image: linear-gradient(to right top, var(--NECCGreen), var(--NECCLightGreen), var(--NECCLightGreen), var(--NECCGreen));

  width: 95%;
  height: 95%;
  margin: 0px auto;
  /* padding: 10px 0px; */

  box-shadow: 6px 6px 6px black, -3px -3px 3px gray;
}
.PageNotFound_404 div {
  position: relative;
  background-image: linear-gradient(to right bottom, var(--NECCGreen), var(--NECCLightGreen), var(--NECCLightGreen), var(--NECCGreen));

  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: Sienna;
  text-shadow: 2px 2px 2px black;
  text-align: center;

  box-shadow: 6px 6px 6px black, -3px -3px 3px gray;
}
.PageNotFound_404 h2 {
  position: relative;

  font-size: 4rem;

  top: 50%;
  transform: translateY(-50%);
}



/*  */
